@charset "UTF-8";
/*BODY&ALL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.png");
  background-position: center;
  background-size: cover;
  /*"cover" and "center" to make the background appear clearer*/
  padding-top: 40px;
}

/*********************NAVBAR*****************/
#logo {
  margin-top: -30px;
}

#searchBtn {
  background-color: #54B8FF;
  color: white;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: black !important;
  margin-right: 1.5vw;
}

.inactive-sign {
  display: none !important;
}

@media screen and (max-width: 991px) {
  /*for hamburger menu*/
  .active-sign {
    display: none !important;
  }

  .inactive-sign {
    display: inline-block !important;
  }

  #logo {
    margin: 0 20px 20px 0;
  }
}
/*********UPSİDE-BG**********/
.upside-bg {
  width: 100%;
  height: 90vh;
  margin-top: 50px;
  position: relative;
  z-index: 0;
}
.upside-bg .upside-bg--img {
  position: absolute;
}
.upside-bg .circle-left {
  left: 0;
  top: 60px;
}
.upside-bg .square {
  left: 0;
  top: 654px;
}
.upside-bg .hexagon {
  right: 0;
  top: 114px;
}
.upside-bg .circle-right {
  right: 0;
  top: 440px;
}
.upside-bg .up-points {
  top: 0;
  left: 48%;
}
.upside-bg .yellow-points {
  top: 547px;
  left: 35%;
  width: 13vw;
}
.upside-bg .plus-group {
  right: 8%;
  top: 790px;
}

/****************UPSİDE-CONTENT************/
.upside-content {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 40rem;
  width: 35%;
}
.content-left h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 30px;
  letter-spacing: 0.235em;
  color: #2F2B71;
  text-align: start;
  margin-bottom: 20px;
}
.content-left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3.6458333333vw;
  line-height: 82px;
  color: #5F596E;
  margin-bottom: 20px;
}
.content-left p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 40px;
}
.content-left button {
  box-shadow: 0px 0px 30px rgba(65, 135, 123, 0.25);
  background: linear-gradient(90deg, #54B8FF -1.36%, #54B8FF 105.62%);
  width: 197px;
  height: 56px;
  color: #fff;
  line-height: 19px;
  letter-spacing: 0.105em;
  vertical-align: middle;
  text-align: center;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.content-right {
  height: 50rem;
  width: 30%;
}
.content-right .content-right--img {
  position: absolute;
}
.content-right .items {
  width: 4.84375vw;
  height: 4.84375vw;
}
.content-right .illustration {
  left: 10%;
  width: 44vw;
  height: 40vw;
}
.content-right .item1 {
  left: 30%;
  top: 250px;
}
.content-right .item2 {
  left: 45%;
  top: 100px;
}
.content-right .item3 {
  left: 72%;
  top: 10px;
}
.content-right .item4 {
  right: -25%;
  top: 90px;
}
.content-right .item5 {
  right: -30%;
  top: 240px;
}

/***************UPSİDE-FOOTER***********/
.upside-footer {
  width: 100%;
  z-index: 1;
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  position: relative;
  width: 600px;
  height: 500px;
}
.footer-left .footer-left--bg {
  position: absolute;
  z-index: -2;
  top: 320px;
  right: 50px;
}
.footer-left .footer-left--cong {
  position: absolute;
  z-index: 0;
  top: 5%;
  left: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 38%;
  height: 15%;
  padding-top: 5px;
  border-radius: 14px;
  background-color: #FFFDFA;
}
.footer-left .footer-left--cong img {
  margin-top: -15px;
}
.footer-left .footer-left--cong div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
.footer-left .footer-left--cong div :first-child {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #04004D;
  margin-bottom: 5px;
}
.footer-left .footer-left--cong div :last-child {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #898E92;
}
.footer-left .footer-left--statistics {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  padding-top: 30px;
  width: 46.5%;
  height: 74%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #FFFFFF;
  /****STATİSTİC-CİRCLE****/
  /* Animation */
}
.footer-left .footer-left--statistics p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #04004D;
  margin-top: -20px;
}
.footer-left .footer-left--statistics .statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.footer-left .footer-left--statistics .statistics div {
  width: 102px;
  height: 64px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footer-left .footer-left--statistics .statistics .statistics-yellow {
  background: #FFF3D4;
  margin-right: 10px;
}
.footer-left .footer-left--statistics .statistics .statistics-yellow h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FAB408;
}
.footer-left .footer-left--statistics .statistics .statistics-yellow p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: #FAB408;
  margin: 0;
}
.footer-left .footer-left--statistics .statistics .statistics-green {
  background: #DCFFEE;
  margin-right: 10px;
}
.footer-left .footer-left--statistics .statistics .statistics-green h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #19BF6F;
}
.footer-left .footer-left--statistics .statistics .statistics-green p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: #19BF6F;
  margin: 0;
}
.footer-left .footer-left--statistics .donut-chart-block {
  margin-top: 10px;
}
.footer-left .footer-left--statistics .donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.footer-left .footer-left--statistics p.center {
  background: #fff;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.footer-left .footer-left--statistics .portion-block {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.footer-left .footer-left--statistics .circle {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}
.footer-left .footer-left--statistics #part1 {
  transform: rotate(0deg);
}
.footer-left .footer-left--statistics #part1 .circle {
  background-color: #19BF6F;
  animation: first 0s 1 forwards;
}
.footer-left .footer-left--statistics #part2 {
  transform: rotate(100deg);
}
.footer-left .footer-left--statistics #part2 .circle {
  background-color: #19BF6F;
  animation: second 0.5s 1 forwards;
}
.footer-left .footer-left--statistics #part3 {
  transform: rotate(250deg);
}
.footer-left .footer-left--statistics #part3 .circle {
  background-color: #FAB408;
  animation: third 0.5s 1 forwards 1.8s;
}
@keyframes first {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}
@keyframes second {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(150deg);
  }
}
@keyframes third {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(111deg);
  }
}
.footer-left .footer-left--music {
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 10%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0px 0 30px;
  width: 60%;
  height: 78%;
  border-radius: 15px;
}
.footer-left .footer-left--music img {
  width: 85%;
  height: 50%;
}
.footer-left .footer-left--music .footer-left--music_header p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #FF733B;
  margin-top: 15px;
}
.footer-left .footer-left--music .footer-left--music_header h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #04004D;
}
.footer-left .footer-left--music .footer-left--music_header h5 {
  font-family: "Google Sans";
  font-size: 16px;
  line-height: 18px;
  color: #898E92;
}
.footer-left .footer-left--music .footer-left--music_footer {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer-left .footer-left--music .footer-left--music_footer p {
  margin-top: 15px;
  margin-right: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #898E92;
}
.footer-left .footer-left--music .footer-left--music_footer button {
  width: 90px;
  height: 24px;
  border: none;
  border-radius: 5px;
  background-color: #367166;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  width: 33%;
  height: 700px;
  position: relative;
}
.footer-right h2 {
  font-family: "Inter", sans-serif;
  font-size: 3.1vw;
  font-weight: bold;
  line-height: 62px;
  color: #04004D;
}
.footer-right p {
  font-family: "Inter", sans-serif;
  font-size: 0.9vw;
  line-height: 26px;
  color: #336C61;
}
.footer-right a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #336C61;
  display: flex;
}

.red-points {
  position: absolute;
  right: 0;
  bottom: 0;
}

/**************MİD SİDE BACKGROUND*********************/
.midside {
  width: 100%;
  height: 1200px;
}
.midside .midside-bg--content {
  position: absolute;
}
.midside .left-vector {
  left: 0;
  top: 50px;
}
.midside .right-vector {
  right: 0;
  top: 350px;
}
.midside .mid-hexagon {
  left: 0;
  top: 580px;
}
.midside .mid-circle {
  right: 0;
  top: 900px;
}

/***************MİD SİDE CARDS***********/
.midside-cards {
  width: 100%;
  height: 400px;
}
.midside-cards .midside-cards--item {
  width: 298px;
  height: 278px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.midside-cards .midside-cards--item h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  color: #1E1E1E;
  margin-top: 30px;
}
.midside-cards .midside-cards--item p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

/*************MİDSİDE COURSE****************/
.midside-course {
  margin-top: 100px;
}
.midside-course h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #000000;
  line-height: 35px;
}
.midside-course p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #BDBDBD;
}
.midside-course .course-card-group {
  width: 85vw;
}
.midside-course .course-cards {
  background-color: #FFFFFF;
}
.midside-course .course-cards h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  margin-top: 14.45px;
  margin-bottom: 9px;
}
.midside-course .course-cards p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #878787;
  margin-bottom: 33px;
  margin-top: 0;
}
.midside-course .course-cards .course-cards--icons {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
}

/************BOTTOM SİDE BACKGROUND*************/
.bottomside {
  width: 100%;
  height: 1350px;
}
.bottomside .bottomside-bg--content {
  position: absolute;
  z-index: -1;
}
.bottomside .vector-group {
  left: 0;
  top: 700px;
}

/*************BOTTOM SİDE CONTENT***********/
.bottomside-content {
  flex-wrap: wrap;
}

.bottomside-content--left {
  height: 700px;
  width: 600px;
}
.bottomside-content--left :first-child {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2F2B71;
}
.bottomside-content--left h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.3vw;
  font-weight: bold;
  line-height: 72px;
  color: #101130;
  margin-bottom: 20px;
}
.bottomside-content--left p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #67687B;
}
.bottomside-content--left :last-child {
  /*button*/
  background-color: #54B8FF;
  border: none;
  width: 181px;
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFEFE;
  margin-top: 50px;
}

.bottomside-content--right {
  height: 34.3vw;
  width: 27.6vw;
  background-image: url("../img/mid-woman-pic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}
.bottomside-content--right .yellow-circle {
  top: -50px;
  left: -60px;
  width: 7.8vw;
}
.bottomside-content--right .circle-group {
  bottom: -40px;
  right: -20px;
  width: 13.1vw;
}

/*************BOTTOM SİDE SUBSCRİBE*****************/
.bottomside-subscribe {
  width: 100%;
}
.bottomside-subscribe .bottomside-subscribe--content {
  margin-top: 200px;
  width: 80%;
  height: 391px;
  background-image: url("../img/bottom-group.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 100px;
}
.bottomside-subscribe .bottomside-subscribe--content .bottom-circle {
  bottom: -125px;
  right: -20px;
}
.bottomside-subscribe .bottomside-subscribe--content .subscribe-input {
  width: 330px;
}
.bottomside-subscribe .bottomside-subscribe--content .subscribe-input :first-child {
  /*NEWSLETTER*/
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  color: #8785AA;
}
.bottomside-subscribe .bottomside-subscribe--content .subscribe-input h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1B1B1B;
  margin-bottom: 44px;
}
.bottomside-subscribe .bottomside-subscribe--content .subscribe-input .custom-search {
  position: relative;
  width: 300px;
}
.bottomside-subscribe .bottomside-subscribe--content .subscribe-input .custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 100px 10px 20px;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-transform: lowercase;
  box-sizing: border-box;
  outline: none;
  height: 75px;
  box-shadow: 8px 20px 30px rgba(0, 0, 0, 0.01);
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #8D8A7A;
}
.bottomside-subscribe .bottomside-subscribe--content .subscribe-input .custom-search-botton {
  position: absolute;
  right: 13px;
  top: 13px;
  bottom: 13px;
  border: 0;
  background: #12294B;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  z-index: 2;
  width: 50px;
  height: 50px;
  box-shadow: 0px 8px 15px rgba(72, 72, 138, 0.12);
}

/************FOOTER*******************/
footer {
  width: 95%;
  height: 244px;
  margin: 100px 0 67px 0;
  flex-wrap: wrap;
  padding: 30px;
}
footer .footer-links a {
  text-decoration: none;
  color: #646464;
}
footer .footer-links h3 {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: #1C1C1D;
}
footer .footer-links li {
  list-style-type: none;
  margin-bottom: 18px;
}
footer .footer-links ul {
  margin: 0;
  padding: 0;
}
footer .text {
  width: 100px;
  height: 250px;
}
footer .text h3 {
  margin-bottom: 41px;
}
footer .text a {
  text-decoration: none;
  color: #7A7A7E;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
footer .map {
  width: 400px;
  height: 200px;
  padding: 0 20px;
}
footer .map :first-child {
  padding-left: 20px;
}
footer .map .links {
  width: 100px;
}

/*****************MEDİA-QUERY*********************/
@media screen and (max-width: 1390px) {
  .item1 {
    left: 15% !important;
    top: 220px !important;
  }

  .item2 {
    left: 40% !important;
    top: 75px !important;
  }

  .midside-course {
    margin-top: 0;
  }

  .bottomside-content {
    margin-top: 200px;
  }

  footer {
    width: 90%;
  }
}
@media screen and (max-width: 1222px) {
  .midside-cards {
    height: 700px;
  }

  .bottomside-content {
    margin-top: 400px;
  }

  .yellow-circle {
    top: -40px !important;
    left: -40px !important;
  }

  .circle-group {
    bottom: -30px !important;
  }

  .footer-right p {
    font-size: 1.2vw;
  }

  .footer-right h2 {
    font-size: 3.6vw;
  }
}
@media screen and (max-width: 1080px) {
  .plus-group {
    right: 0 !important;
  }
}
@media screen and (max-width: 932px) {
  .bottomside-content {
    margin-top: 750px;
  }

  .illustration {
    left: 10%;
    top: 5%;
  }
}
@media screen and (max-width: 828px) {
  .upside-footer {
    margin-bottom: 0;
  }

  .midside-cards {
    height: 950px;
  }

  .bottomside-content--left {
    height: 500px;
  }
  .bottomside-content--left button {
    width: 150px !important;
    height: 40px !important;
    font-size: 15px !important;
  }

  .bottomside-content {
    margin-top: 1100px;
  }

  .bottomside-content--right {
    height: 60vw;
    width: 40vw;
    margin-top: 30px;
  }

  .yellow-circle {
    top: -40px !important;
    left: -40px !important;
    width: 12vw !important;
  }

  .circle-group {
    bottom: -30px !important;
    width: 18vw !important;
  }

  footer {
    margin-top: 350px;
  }

  .custom-search {
    width: 200px !important;
  }
  .custom-search input {
    font-size: 10px !important;
  }

  .vector-group {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    margin-top: -40px !important;
  }

  #searchBtn {
    width: 70px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  #logo {
    width: 180px;
    height: 70px;
  }

  .upside-bg {
    margin-top: 10px;
  }

  .upside-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .content-right {
    height: 20rem;
    margin-top: 20px;
  }

  .yellow-points {
    top: 400px !important;
    left: 10% !important;
  }

  .circle-left {
    width: 20px;
    height: 70px;
  }

  .square {
    width: 90px;
  }

  .hexagon {
    width: 30px;
    height: 90px;
  }

  .circle-right {
    width: 40px;
    height: 90px;
  }

  .up-points {
    width: 60px;
    left: 46% !important;
  }

  .plus-group {
    width: 120px;
    height: 110px;
    top: 735px !important;
  }

  .red-points {
    width: 60px;
  }

  .left-vector {
    width: 70px;
    height: 40px;
  }

  .right-vector {
    width: 130px;
    height: 30px;
  }

  .illustration {
    top: -50px;
    left: -32px !important;
    width: 54vw !important;
    height: 50vw !important;
  }

  .item1 {
    left: 22% !important;
    top: 15% !important;
  }

  .item2 {
    left: 40% !important;
    top: 0px !important;
  }

  .item3 {
    left: 70% !important;
    top: -50px !important;
  }

  .item4 {
    right: -20% !important;
    top: 0px !important;
  }

  .item5 {
    right: -30% !important;
    top: 70px !important;
  }

  .content-left {
    height: 500px;
    justify-content: center;
    align-items: center;
  }
  .content-left button {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }

  .upside-footer {
    margin-top: 150px;
  }

  .footer-left--cong {
    left: 33% !important;
  }

  .footer-left--music {
    left: 20% !important;
    top: 20% !important;
  }

  .content-left {
    width: 70%;
  }

  .content-left h5 {
    font-size: 2vw;
  }

  .content-left h1 {
    font-size: 8vw;
  }

  .footer-left--statistics {
    width: 240px !important;
    height: 290px !important;
  }

  .footer-left--bg {
    width: 100px;
  }

  .footer-right {
    width: 70%;
  }

  .footer-right p {
    font-size: 2vw !important;
  }

  .footer-right h2 {
    font-size: 5vw !important;
  }

  .midside-cards {
    height: 600px;
  }

  .midside-course {
    margin-top: 70px;
  }

  .bottomside-content {
    margin-top: 750px;
  }

  .bottomside-subscribe--content {
    padding-left: 0 !important;
    height: 300px !important;
  }

  .bottomside-subscribe--content h1 {
    font-size: 30px !important;
  }

  .subscribe-input {
    height: 280px !important;
    width: 250px !important;
  }
}
@media screen and (max-width: 680px) {
  .content-right .illustration {
    left: -65% !important;
    width: 65vw !important;
    height: 61vw !important;
  }

  .item1 {
    left: -20% !important;
    top: 10% !important;
  }

  .item2 {
    left: 0% !important;
    top: -5% !important;
  }

  .item3 {
    left: 40% !important;
    top: -15% !important;
  }

  .item4 {
    right: 0% !important;
    top: 0% !important;
  }

  .item5 {
    right: -2% !important;
    top: 20% !important;
  }

  .content-left p {
    font-size: 2vw;
  }

  .footer-right {
    height: 300px !important;
  }

  .footer-left {
    width: 400px !important;
  }

  .footer-left--cong {
    left: 8% !important;
  }
  .footer-left--cong img {
    width: 30px;
    height: 30px;
  }
  .footer-left--cong :first-child {
    font-size: 10px !important;
  }
  .footer-left--cong :last-child {
    font-size: 9px !important;
  }

  .footer-left--music {
    left: -5% !important;
    top: 20% !important;
    height: 60% !important;
  }
  .footer-left--music .footer-left--music_header h2 {
    font-size: 18px !important;
  }
  .footer-left--music .footer-left--music_footer p {
    font-size: 10px !important;
  }
  .footer-left--music .footer-left--music_footer button {
    width: 60px !important;
    height: 20px !important;
    font-size: 8px !important;
  }

  .statistics div {
    width: 80px !important;
    height: 40px !important;
  }
  .statistics div h3 {
    font-size: 14px !important;
  }
  .statistics div p {
    font-size: 8px !important;
  }

  .donut-chart {
    height: 100px !important;
    width: 100px !important;
  }
  .donut-chart .portion-block {
    clip: rect(0px, 100px, 100px, 50px) !important;
  }
  .donut-chart .portion-block .circle {
    clip: rect(0px, 50px, 100px, 0px) !important;
  }
  .donut-chart .center {
    height: 60px !important;
    width: 60px !important;
  }

  .footer-left--bg {
    top: 55% !important;
    right: 20% !important;
  }

  .midside-cards {
    height: 800px !important;
    margin-top: 100px !important;
  }

  .bottomside-content {
    margin-top: 950px;
  }

  .map {
    margin-top: 40px !important;
  }
}

/*# sourceMappingURL=style.css.map */
