/*************BOTTOM SİDE CONTENT***********/

.bottomside-content--left {

    height: 700px;
        width: 600px;

    :first-child {
        font : {
            family:$poppinsFont;
            size:16px;
        }
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #2F2B71;
    }
    
    h1 {
        font : {
            family:$poppinsFont;
            size:62px;
            weight: bold;
        }
        line-height:72px;
        color: #101130;
        margin-bottom:20px;
    }
    
    p {
        font : {
            family:$poppinsFont;
            size:18px;
        }
        line-height:32px;
        color: #67687B;
    }
    
    :last-child { /*button*/
        background-color:$blue;
        border: none;
        width:181px;
        height:56px;
        font : {
            family:$poppinsFont;
            size: 18px;
        }
        line-height:27px;
        text-align:center;
        color:#FFFEFE;
        margin-top:50px;
    }
}

.bottomside-content--right {
    height: 660px;
    width: 530px;
    background-image:url("../img/mid-woman-pic.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    .yellow-circle{
        top:-50px;
        left:-60px;
    }

    .circle-group {
        bottom:-40px;
        right:-20px;
    }
}