/************BOTTOM SİDE BACKGROUND*************/

.bottomside {
    width: 100%;
    height: 1350px;

    .bottomside-bg--content {
        position: absolute;
        z-index: -1;
    }

    .vector-group {
        left:0;
        top:700px;
    }
}
