/*****************MEDİA-QUERY*********************/

@media screen and (max-width:1390px) {
    .item1 {
        left: 15% !important;
        top: 220px !important;
    }

    .item2 {
        left: 40% !important;
        top: 75px !important;
    }

    .midside-course {
        margin-top:0;
    }

    .bottomside-content {
        margin-top:200px;
    }

    footer {
        width:90%
    }
}

@media screen and (max-width:1222px) {
    .midside-cards {
        height: 700px;
    }

    .bottomside-content {
        margin-top:400px;
    }

    .yellow-circle {
        top: -40px !important;
        left: -40px !important;
    }

    .circle-group {
        bottom: -30px !important;
    }


    .footer-right p {
        font-size: 1.2vw;
    }
    .footer-right h2 { 
    font-size: 3.6vw;
    }
}

@media screen and (max-width:1080px) {
    .plus-group {
        right:0 !important;
    }
}

@media screen and (max-width:932px) {
    .bottomside-content {
        margin-top:750px;
    }
}

@media screen and (max-width:828px) {
    .upside-footer {
        margin-bottom: 0;
    }

    .midside-cards {
        height: 950px;
    }

    .bottomside-content--left {
        height: 500px;
    }

    .bottomside-content {
        margin-top:1100px;
    }

    .bottomside-content--right {
        height: 60vw;
        width: 40vw;
    }

    .yellow-circle {
        top: -30px !important;
        left: -30px !important;
    }

    .circle-group {
        bottom: -18px !important;
    }

    footer {
        margin-top: 350px;
    }

    .custom-search {
        width: 200px !important;
    }

}

@media screen and (max-width:768px) {
    .upside-content {
        flex-direction: column;
        justify-content:center;
        align-items:center;
        text-align: center;
    }
    .content-left {
        height:500px;
        justify-content:center;
        align-items:center;
    }

    .upside-footer {
        margin-top: 150px;
    }

    .illustration {
        top:-50px;
        left: -60px !important;
        width: 54vw !important;
        height: 50vw !important;
    }

    .item1 {
        left: 0 !important;
        top: 10% !important;
    }

    .item2 {
        left: 15% !important;
        top: 10px !important;
    }
    .item3 {
        left: 60% !important;
        top: -50px !important;
    }
    .item4 {
        right: -10% !important;
        top: 0px !important;
    }
    .item5 {
        right: -20% !important;
        top: 70px !important;
    }

    .content-left {
        width:70%;
    }

    .content-left h5 {
        font-size: 2vw;
    }

    .content-left h1 {
        font-size: 8vw;
    }
    
}