/***************MİD SİDE CARDS***********/

.midside-cards {
    width: 100%;
    height:400px;

    .midside-cards--item {
        width:298px;
        height: 278px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right:109px;

        h3 {
            font : {
                family:$poppinsFont;
                weight:600;
                size:26px;
            }
            line-height: 26px;
            color: #1E1E1E;
            margin-top:30px;
        }

        p {
            font : {
                family:$openSansFont;
                size:16px;
            }
            line-height: 28px;
            color: #757575;
        }
    }
}