/**************MİD SİDE BACKGROUND*********************/

.midside {
    width: 100%;
    height: 1200px;

    .midside-bg--content{
        position: absolute;
    }

    .left-vector{
        left:0;
        top:50px;
    }

    .right-vector {
        right:0;
        top:350px;
    }

    .mid-hexagon {
        left:0;
        top:580px;
    }

    .mid-circle {
        right:0;
        top:900px;
    }
}

