/*********UPSİDE-BG**********/

.upside-bg--img{
    position: absolute;
    z-index: 0;
}
.circle-left{
    left:0;
    top:60px;
}
.square {
    left:0;
    top:654px;
}

.hexagon {
    right:0;
    top:114px;
}
.circle-right {
    right:0;
    top:440px;
}

.up-points {
    top:0;
    left:48%;
}
.yellow-points {
    top:547px;
    left:35%;
    width:13vw;
}
.plus-group{
    right:8%;
    top:790px;
}