/****************UPSİDE-CONTENT************/

.upside-content {
    width:100%;
    position: absolute;
    z-index: 1;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.content-left {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
height:40rem;
width:35%;

    h5 {
        font : {
            family:$poppinsFont;
            weight:500;
            size:1.4vw;
        }
        line-height:30px;
        letter-spacing:0.235em;
        color:#2F2B71;
        text-align: start;
        margin-bottom: 20px;
    }
    
    h1 {
        font : {
            family:$poppinsFont;
            weight:bold;
            size:3.6458333333333335vw;
        }
        line-height: 82px;
        color:#5F596E;
        margin-bottom: 20px;
    }
    
    p {
        font : {
            family:$poppinsFont;
            weight:500;
            size:1.5vw;
        }
        line-height: 31px;
        letter-spacing: 0.05em;
        color: #000000;
        margin-bottom:40px;
    }
    
    button {
        box-shadow: 0px 0px 30px rgba(65, 135, 123, 0.25);
        background: linear-gradient(90deg, #54B8FF -1.36%,#54B8FF 105.62%);
        width: 197px;
        height: 56px;
        color:#fff;
        line-height: 19px;
        letter-spacing: 0.105em;
        vertical-align: middle;
        text-align: center;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font : {
            family:$poppinsFont;
            size: 18px;
            weight:600;
        }
    }
}

.content-right {
    height: 50rem;
    width:30%;
 
    .content-right--img {
        position:absolute;
    }

    .items {
        width: 4.84375vw;
        height: 4.84375vw;
    }

    .illustration{
        left: 10%;
        width:44vw;
        height:40vw;
    }

    .item1 {
        left:30%;
        top:250px;
    }

    .item2 {
        left:45%;
        top:100px;
    }

    .item3 {
        left:72%;
        top:10px;
    }

    .item4 {
        right:-25%;
        top:90px;
    }

    .item5 {
        right:-30%;
        top:240px;
    }
}