/*********UPSİDE-BG**********/

.upside-bg{
    width: 100%;
    height: 170vh;
    margin-top: 50px;
    position: relative;
    z-index: 0;

    .upside-bg--img{
        position: absolute;
    }

    .circle-left{
        left:0;
        top:60px;
    }

    .square {
        top:654px;
    }
    
    .hexagon {
        right:0;
        top:114px;
    }

    .circle-right {
        right:0;
        top:440px;
    }
    
    .up-points {
        top:0;
        left:48%;
    }

    .yellow-points {
        top:547px;
        left:35%;
    }

    .plus-group{
        left:85%;
        top:790px;
    }

    .red-points{
        right:0;
        top:1400px;
    }

}



